<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" type="text/css" href="lib/normalize.css">
  <link rel="stylesheet" type="text/css" href="index.css">
  <title>Soyi Baby Pig</title>
  <script src="lib.js"></script>
</head>
<body>
  <canvas id="game" width="0" height="0"></canvas>
  <script>
    require.config(__FRAMEWORK_CONFIG__);
    require.async(['config', 'oop'], function () {
      require.async('boot', function (boot) {
        boot();
      });
    });
  </script>
</body>
</html>