<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" type="text/css" href="lib/normalize.css">
  <link rel="stylesheet" type="text/css" href="index.css">
  <title>1010-plus</title>
  <script src="lib.js"></script>
</head>
<body>
  <!-- Soyi 小猪留名。 -->
  <canvas id="game" class="hide" width="0" height="0"></canvas>
  <script>
    window.stage = new createjs.Stage('game');

    (function() {
      var node = document.getElementById('game');
      node.setAttribute('width', window.innerWidth);
      node.setAttribute('height', window.innerHeight);
      window.onresize = function() {
        node.setAttribute('width', window.innerWidth);
        node.setAttribute('height', window.innerHeight);
      };
    })();

    require.config(__FRAMEWORK_CONFIG__);
    require.async(['boot', 'oop'], function (boot) {
      boot();
    });
  </script>
</body>
</html>