<div id="p-game" class="page">
  <canvas class="i-setting btn"></canvas>
  <div class="setting-area">
    <div class="setting-container">
      <div>
        <a class="home btn" href="#!/p-main"><canvas class="i-home"></canvas></a>
      </div>
      <div>
        <a class="share btn" href="https://github.com/chileung/1010-plus"><canvas class="i-fork"></canvas></a>
        <!-- <span class="voice btn"></span> -->
      </div>
    </div>
    <span class="back btn"><canvas class="i-back"></canvas></span>
  </div>
</div>