#p-main
  .header
    padding-top 10%
    .i-trophy
      margin 0 auto
      display block
  .controller
    font-size 0
    text-align center
    margin-top 20%
    .start
    .achievement
    .rank
      margin 0 5px
      width 60px
      height 60px
  .footer
    position absolute
    width 100%
    bottom 0
    margin-bottom 10%
    .logo
      display block
      margin 0 auto
      width 50px
      height 50px
    .btn
      position absolute
      right 0
      top 0
      margin-right 20px
  .setting-area
    background-color #67C2E4
    position absolute
    height 50%
    width 100%
    top 100%
    transition top .15s
    transition-timing-function ease-out
    -webkit-transition top .15s
    -webkit-transition-timing-function ease-out
    .setting-container
      margin-top 10%
      padding 5% 10%
      text-align center
      font-size 0
      >div
        display inline-block
        padding 0 5px
      .btn
        display block
        margin-bottom 5px
    .back.btn
      position absolute
      right 0
      bottom 0
      margin 0 15px 15px 0
  .setting-area.scrollUp
    top 50%

.highest-score
  text-align center
  margin-top 10px