<div id="p-main" class="page">
  <section class="header">
    <canvas class="c-crown" data-init="false"></canvas>
    <div class="highest-score"></div>
  </section>
  <section class="controller">
    <a class="start btn" href="#!/p-game"></a>
    <a class="achievement btn" href="#!/p-achievement"></a>
    <a class="rank btn" href="#!/p-rank"></a>
  </section>
  <section class="footer">
    <img class="logo" src="http://img.ucweb.com/s/uae/g/0f/0f/50_sac_thai.jpg">
    <canvas class="c-setting btn" data-init="false"></canvas>
  </section>
  <div class="setting-area">
    <div class="setting-container">
      <div>
        <div class="voice btn"></div>
        <div class="restore btn"></div>
      </div>
      <div>
        <a class="info btn" href=""></a>
        <a class="fork btn" href=""></a>
      </div>
    </div>
    <span class="back btn"></span>
  </div>
</div>